* {
    text-align: center;
}

body {
    color: #333;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}

#titulo {
    size: 90px;
    font-style: oblique;
    text-align: center;
}